@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa&family=Courgette&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
  background: 	#F5f5f5;
}

h1 {
  padding-right: 1rem;
  font-family: 'Changa', sans-serif;
  font-family: 'Courgette', cursive;
  font-size: 4rem;
  margin-bottom: 0;
}


h3 {
  font-family: 'Courgette', cursive;
  font-size: 1.5rem;
  display:flex;
  align-items: flex-end;
  float: right;
  margin-top: 0;
  margin-right: 1rem;

}
.button-container {
  font-family: 'Noto Sans HK', sans-serif;
  /* border: 2px solid #7C7C8D; */
  padding: 3px;
  display: block;
  border-radius: 10px;
  box-shadow: inset 0 20px 4px -19px rgba(255,255,255, 0.7);
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  outline: none;
  /* font-family: 'Noto Sans HK', sans-serif; */
  font-family: 'Changa', sans-serif;
  font-size: 25px;
  color: black;
  margin-bottom: 0;
  /* text-shadow: 0 2px 5px #7C7C8D; */
  border-radius: 10px;
  border: 2px #2D2D34;
}

img {
  margin-bottom: -1rem;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
 
}

#select-share-screen-button {
  box-shadow: inset 0 20px 4px -19px rgba(43,106,120, 0.4), 0 12px 12px 0 rgba(54, 132, 150, 0.3);

}


#stop-capture-button {
  box-shadow: inset 0 20px 4px -19px rgba(173,92,95, 0.4), 0 12px 12px 0 rgba(122, 62, 64, 0.3);
}



 #select-share-screen-button:hover{
  color: #3B92A5;

}
#stop-capture-button:hover{
  color: #B97375;

}

button:active {
  transform: translateY(3px);
  box-shadow: 0 6px 6px 0 rgba(200, 146, 148, 0.3);
}


@media only screen and (max-width: 630px) {
  h1 {
    padding-right: .5rem;
    font-size: 2rem;
  }
  h3 {
    
    font-size: .5rem;
    margin-right: .5rem;
  
  }

  button {
    cursor: pointer;
    outline: none;
    /* font-family: 'Noto Sans HK', sans-serif; */
    font-family: 'Changa', sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 0;
    /* text-shadow: 0 2px 5px #7C7C8D; */
    border-radius: 5px;
  }
  
}


@media only screen and (max-width: 630px) {
  h1 {
    padding-right: .5rem;
    font-size: 2rem;
  }
  h3 {
    
    font-size: .5rem;
    margin-right: .5rem;
  
  }

  button {
    cursor: pointer;
    outline: none;
    /* font-family: 'Noto Sans HK', sans-serif; */
    font-family: 'Changa', sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 0;
    /* text-shadow: 0 2px 5px #7C7C8D; */
    border-radius: 5px;
  }
  
}



@media only screen and (max-width: 375px) {
  h1 {
    padding-right: .2rem;
  }
 
}